html, body {
    padding: 6px;
 }

body{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: minmax(5px, auto);
    grid-template-areas: "header header" "mappanel sidebar" ;
    overflow: hidden;    /* hides any overflow so our page doesn't extend beyond the window height*/
    height: 100vh; /* this makes our page cover the whole browser window*/
    width: 99vw;
}

header{
    grid-area: header;
}

#map{
    height:90vh;
    grid-area: mappanel;
} 

#contents{
    grid-area: sidebar;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px;
    overflow-y:scroll; /* adds a vertical scroll-bar to this div */
}
